<div class="container">
  <%= link_to "Volver a la tarea", task_path(@task), class: "btn btn-primary" %>
  <label for="file">Has completado 0 de 5 flashcards</label>
  <progress id="file" max="100" value="70"> 70% </progress>

  <% @task.flashcards.each do |flashcard| %>
    <%= render "flashcard", flashcard: flashcard %>
  <% end %>

  <div class="col-12 d-flex justify-content-center">
      <a href="#" class="btn btn-success m-3 col-2"><i class="fa-regular fa-circle-right"></i></a>
  </div>
</div>
