<div class="my-flashcards-container">
  <div class="my-flashcard-title">
    <h2>Flashcards</h2>
  </div>
    <div class="my-flashcards">
      <% @flashcards.each do | flashcard | %>
  <%= link_to tasks_path do %>
        <div class="my-flashcard">
        <p><%= flashcard.content %></p>
        </div>
      <% end %>
  <% end %>
    </div>
</div>
