<div class="my-flashcards-container">
  <div class="my-flashcard-title">
    <h2>Flashcards</h2>
  </div>
    <div class="my-flashcards" data-controller="flashcard-index-color">
      <% @flashcards.each do | flashcard | %>
      <div class="anchor">
        <div class="my-flashcard">
          <div class="my-flashcard-title">
            <h5><%= flashcard.content %></h5>
          </div>
          <div class="my-flashcard-info">
            <p><%= flashcard.answer %></p>
          </div>
        </div>
      </div>
  <% end %>
    </div>
</div>
