// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$morado: #5D58C0;
$salmon: #f37e80;
$amarillo: #f8df6e;
$fondo-morado: #eeecf6;
$fondo-navbar: #A9A7D7;
