.dashboard-page{
  padding: 40px 0 40px 50px;
  height: 91vh;
  display: flex;
}

.user-container{
  width: 30%;
  height: 640px;
  background-color: #fff3f2;
  padding: 30px;
  border: 1px solid #000;
  border-radius: 13px;
  margin-right: 45px;
  .user-info{
    width: 100%;
    .user-avatar{
      display: flex;
      justify-content: center;
      img{
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
    .user-name{
      text-align: center;
      margin: 20px 0;
      font-weight: bold;
    }
    .doctor p{
      text-align: center;
    }
  }

  .user-dashboard{
    background-color: #fff;
    padding: 25px;
    height: 270px;
    border-radius: 13px;
    border: 1px solid #000;
    .date{
      width: 100%;
      text-align: center;
    }
    .user-chart{
      padding: 0 20px;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      height: 195px;
      .caja{
        height: 20px;
        width: 20px;
        margin: 10px;
        border: 1px solid black;
      }
      .caja.lunes{
        background-color: #72ae9a;
      }
      .lunes.letra{
        background-color: #d9ece7;
      }
      .caja.martes{
        background-color: #fbe486;
      }
      .martes.letra{
        background-color: #fef6dc;
      }
      .caja.miercoles{
        background-color: #f79597;
      }
      .miercoles.letra{
        background-color: #fbdfdf;
      }
      .caja.jueves{
        background-color: #aeacdf;
      }
      .jueves.letra{
        background-color: #e6e6f6;
      }
      .caja.viernes{
        background-color: #b8d3ff;
      }
      .viernes.letra{
        background-color: #e8f2fe;
      }
      .letra{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.todo-information{
  width: 100%;
  .tasks-container{
    height: 350px;
    width: 100%;
    .app-cards{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 15px;
      height: 310px;
      width: 100%;
      .app-card{
        height: 300px;
        max-width: 100%;
        border-radius: 13px;
        padding: 20px;
        background-size: 100% 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transition: all 0.5s;
        &:hover{
          margin-top: -20px;
        }
        .app-card-title{
          grid-row: 1 / 3;
          h4{
            font-family: 'Heebo', sans-serif;
            font-size: 38px;
            color: #fff;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }
        .app-card-info{
          grid-row: 3 / 7;
          position: relative;
          .white-background{
            background-color: #fff;
            border-radius: 10px;
            opacity: 0.3;
            width: 100%;
            height: 100%;
            position: absolute;
          }
          p{
            color: #fff;
           overflow: hidden;
           text-overflow: ellipsis;
           display: -webkit-box;
           -webkit-line-clamp: 7;
           -webkit-box-orient: vertical;
           margin: 10px;
          }
        }
      }
    }
  }
  .flashcards-container{
    height: 290px;
    .flashcards-box{
      width: 930px;
      height: 235px;
      margin-left: 30px;
      border-radius: 20px;
      background-color: #F2F2F2;
    }
    .flashcards-title{
      padding: 10px 0;
    }
    .app-flashcards{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .app-flashcard{
        width: 170px;
        height: 185px;
        padding: 20px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        transition: all 0.5s;
        &:hover{
          transform: scale(1.1) rotate(5deg);
        }
        .app-flashcard-title h5{
          font-family: 'Heebo', sans-serif;
          font-size: 25px;
          color: #fff;
        }
        .app-flashcard-info p{
          font-size: 14px;
          color: #616161;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}

.link-cards{
  display: block;
  max-width: 30%;
  text-decoration: none;
  opacity: 0.9;
  transition: all 0.5s;
  &:hover{
    opacity: 1;
  }
}

.fondo1{
  background: url(https://res.cloudinary.com/luda9/image/upload/v1662401025/development/fondo1_bpmziv.png);
}

.fondo2{
  background: url(https://res.cloudinary.com/luda9/image/upload/v1662401025/development/fondo4_qjlore.png);
}

.fondo3{
  background: url(https://res.cloudinary.com/luda9/image/upload/v1662401025/development/fondo2_hn1jup.png);
}

.fondo4{
  background: url(https://res.cloudinary.com/luda9/image/upload/v1662401025/development/fondo3_zutz9q.png);
}

.fondo5{
  background: url(https://res.cloudinary.com/luda9/image/upload/v1662401025/development/fondo5_ai2jx3.png);
}

.color1{
  background-color: #F8DF6E;
}

.color2{
  background-color: #A9A7D7;
}

.color3{
  background-color: #F47F80;
}

.color4{
  background-color: #00D598;
}
