// Specific CSS for your home-page

//NAV VAR
body{
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-weight: bold;
  color: $morado;
}

.boton{
    color: #fff;
    padding: 15px 45px;
    text-decoration: none;
    font-weight: 900;
    border-radius: 13px;
    transition: all 0.3s;
    &:hover{
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      color: #fff;
  }
}
.entrar{
  background-color: $salmon;
}

//HOME PAGE

//PRIMERA PAGINA
.home-page{
  height: 70vh;
  display: flex;
  padding: 0 100px;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  .icon-3d-uno{
    position: absolute;
    transform: scale(0.8);
    top: 280px;
    left: 450px;
  }
  .icon-3d-dos{
    position: absolute;
    top: 190px;
    left: 0;
    z-index: 1;
    transform: scale(0.8);
  }
  .home-page-info{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 55%;
    justify-content: space-between;
    .home-page-title {
      z-index: 2;
      h1{
        font-size: 60px;
        color: black;
        span{
          color: $morado;
        }
      }
    }
    .home-page-subtitle{
      width: 85%;
      z-index: 2;
      p{
        font-size: 20px;
      }
    }

    .registrarse{
      background-color: $amarillo;
    }
  }
  .home-page-image{
    width: 45%;
    padding-top: 60px;
    position: relative;
    margin-left: 50px;
    .cuadricula{
      position: absolute;
      bottom: 20;
      right: -120px;
      z-index: 9;
    }
    .kids-drawing-ra{
      position: absolute;
      border-radius: 15px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      width: 550px;
      z-index: 10;
    }
  }
}

//BARRA DE INSIGNIAS
.barra-insignias{
  max-width: 100%;
  height: 175px;
  background-color: $fondo-morado;
  .insignias{
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      height: 80px;
    }
  }
}

//PAGINA DE CARDS
.cards-page{
  height: 100vh;
  .cards-header{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .cards-title{
      width: 100%;
      height: auto;
      text-align: center;
      h4{
        font-weight: bold;
      }
    }
    .cards-subtitle p{
      margin-top: 15px;
      font-size: 20px;
      font-weight: lighter;
    }
  }
}

//CARDS
.cards-home{
  position: relative;
  height: auto;
  .circulo-rojo{
    position: absolute;
    top: -100px;
    left: 250px;
    transform: scale(0.8);
    z-index: 1;
  }
  .espiral-amarillo{
    position: absolute;
    top: -100px;
    right: 100px;
    z-index: 1;
  }
  .personaje{
    position: absolute;
    bottom: -230px;
    left: 0px;
    transform: scale(0.8);
    z-index: 3;
  }
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 100px;
  margin-top: 40px;
  .card-home{
    z-index: 2;
  }
}

//INFORMACION E IMAGEN DE NIÑO
.info-homepage{
  width: 100vw;
  height: 80vh;
  display: flex;
  position: relative;
  .estrella1{
  position: absolute;
  top: 80px;
  right: 50%;
  }
  .estrella2{
  position: absolute;
  bottom: 40%;
  left: 50px;
  z-index: 1;
  }
  .estrella3{
  position: absolute;
  bottom: 50px;
  left: 30%;
  }
  .ra-info{
    width: 50%;
    margin-left: 50px;
    font-size: 20px;
    z-index: 2;
    .ra-info-container{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span{
        font-weight: bold;
      }
      .ra-info-title{
        color: $morado;
        font-weight: 600;
      }
    }
  }
  .kid-image {
    display: flex;
    align-items: center;
    margin-left: 50px;
    img{
      width: 550px;
    }
  }
}

// FOOTER
footer{
  background-color: #EEEDF7;
  height: auto;
  display: flex;
  padding-bottom: 50px;
  .rapido-aprendo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    padding-left: 90px;
    .rapido-aprendo-title{
      padding: 20px 0;
      color: $morado;
    }
    .contactanos a{
      color: #000;
    }
  }
  .creadores{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    padding-bottom: 0;
    .creadores-title{
      padding: 15px 0;
      color: $morado;
    }
    .creador{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 0;
      column-gap: 30px;
      h3{
        font-size: 25px;
        margin-bottom: 0;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      p{
        margin-left: 20px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-top: -10px;
      }
      .favicons{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: 25px;
        a{
          color: #000;
          transition: color 0.3s;
          &:hover{
            color: $morado;
          }
        }
      }
    }
  }
}


//MEDIA QUERYS 1200 ----------

@media (max-width: 1200px) {
  .home-page{
    display: block;
    height: 1000px;
    .icon-3d-dos{
      top: 100px;
    }
    .icon-3d-uno{
      transform: scale(0.5);
      top: 220px;
      left: 800px;
    }
    .home-page-info{
      height: 400px;
      width: 100%;
      .home-page-subtitle{
        width: 100%;
        p{
          font-size: 25px;
        }
      }
      .registrarse{
        font-size: 20px;
      }
    }
    .home-page-image{
      display: flex;
      justify-content: center;
      width: 100%;
      margin-left: 0;
        .cuadricula{
          bottom: 20;
          right: 90px;
        }
    }
  }
}

//MEDIA QUERYS 992 ----------

@media (max-width: 992px) {
  .home-page{
    height: 1000px;
    padding: 0 15px;
    .icon-3d-dos{
      top: 100px;
    }
    .icon-3d-uno{
      top: 250px;
      left: 550px;
    }
    .home-page-info{
      height: 450px;
    }
  }
  .cards-page{
    height: auto;
    margin-top: 50px;
    .cards-title{
      h4{
        font-size: 25px;
        width: 80%;
        text-align: center;
        margin: 0 auto;
      }
    }
    .cards-subtitle p{
      font-size: 25px;
    }
    .cards-home{
      height: auto;
      padding: 25px 0;
      .circulo-rojo{
        top: -100px;
        left: 100px;
      }
      .espiral-amarillo{
        top: 250px;
        right: 50px;
        transform: scale(0.5);
      }
      .personaje{
        bottom: -200px;
        left: -100px;
        transform: scale(0.5);
      }
    }
  }
  .info-homepage{
    height: auto;
    .kid-image {
      img{
        width: 250px;
      }
    }
  }
  footer{
    .footer-text{
      .creador{
        p{
          margin-top: 0;
        }
      }
    }
  }
}

//MEDIA QUERYS 768 ----------

@media (max-width: 768px) {
  .home-page{
    height: 1200px;
    .icon-3d-uno{
      top: 400px;
      left: 400px;
    }
    .home-page-info{
      height: 650px;
    }
  }
  .cards-page{
    height: 900px;
    .cards-title{
      h4{
        font-size: 30px;
      }
    }
    .cards-home{
      flex-wrap: wrap;
      margin: 20px 0;
      padding: 25px 0;
      .circulo-rojo{
        top: -100px;
        left: 100px;
      }
      .espiral-amarillo{
        top: 250px;
        right: 50px;
        transform: scale(0.5);
      }
      .personaje{
        bottom: -200px;
        left: -100px;
        transform: scale(0.5);
      }
    }
  }
  footer{
    .footer-text{
      .creador{
        p{
          margin-top: 0;
        }
      }
    }
  }
}

//MEDIA QUERYS 635 ----------

@media (max-width: 635px){
  .home-page{
    height: 1300px;
    padding: 0 60px;
    .icon-3d-uno{
      top: 500px;
      left: 360px;
    }
    .icon-3d-dos{
      transform: scale(0.4);
      left: 0;
      top: 380px;
    }
    .home-page-info{
      height: 750px;
      .home-page-title h1{
        text-align: center;
      }
      .home-page-subtitle p{
        text-align: center;
      }
      .registrarse{
        font-size: 25px;
        font-weight: normal;
        display: flex;
        justify-content: center;
      }
    }
  }
  .home-page-image{
    margin-top: 30px;
    transform: scale(0.8);
    margin-left: 0;
  }
  .barra-insignias{
    .insignias{
      img{
        height: 60px;
      }
    }
  }
  .cards-page{
    height: auto;
    margin-bottom: 100px;
    .cards-home{
      flex-wrap: nowrap;
      flex-direction: column;
      height: auto;
      .card-home{
        width: 70%;
        margin: 30px 0;
        p{
          font-size: 20px;
        }
      }
      .circulo-rojo{
        top: 100px;
        left: 150px;
      }
      .espiral-amarillo{
        top: -50px;
        right: 400px;
        transform: scale(0.5);
        z-index: 1;
      }
      .personaje{
        bottom: -100px;
        left: -100px;
        transform: scale(0.8);
      }
    }
  }
  .info-homepage{
    width: 80vw;
    margin: 100px auto;
    margin-top: 0;
    flex-direction: column-reverse;
    .estrella1{
      top: 80px;
      right: 30px;
      }
      .estrella2{
      bottom: 40%;
      left: 50px;
      z-index: 1;
      }
      .estrella3{
      bottom: 50px;
      left: 30%;
      }
    .ra-info{
      width: 100%;
      margin-left: 0;
      .ra-info-container{
        .ra-info-title{
          font-size: 25px;
        }
      }
    }
    .kid-image {
      justify-content: center;
      margin-left: 0;
      margin-bottom: 100px;
      img{
        width: 350px;
      }
    }
  }
  footer{
    flex-direction: column;
    .rapido-aprendo{
      width: 80vw;
      padding: 0;
      margin: 0 auto;
      .rapido-aprendo-title{
        font-size: 35px;
      }
      .footer-text{
        .footer-info{
          font-size: 20px;
          text-align: center;
        }
        .footer-rights{
          font-size: 20px;
          text-align: center;
        }
        .contactanos{
          font-size: 20px;
          text-align: center;
        }
      }
    }
    .creadores{
      width: 80vw;
      margin: 0 auto;
      .creadores-title{
        font-size: 35px;
        text-align: center;
      }
      .creador{
        margin: 0 auto;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        .datos-creador{
          h3{
            font-size: 30px;
          }
          p{
            font-size: 20px;
          }
        }
        .favicons{
          font-size: 40px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

//MEDIA QUERYS 576 ----------

@media (max-width: 576px){
  .home-page{
    padding: 0 15px;
    height: 1000px;
    .icon-3d-uno{
      top: 400px;
      left: 250px;
    }
    .icon-3d-dos{
      transform: scale(0.4);
      left: 0;
      top: 150px;
    }
    .home-page-info{
      height: 550px;
      .home-page-title h1{
        font-size: 45px;
      }
    }
    .home-page-image{
      transform: scale(0.7);
    }
  }
  .cards-page{
    .cards-home{
      margin-bottom: 0;
      .circulo-rojo{
        transform: scale(0.5);
        top: 400px;
        left: 0;
      }
      .personaje{
        transform: scale(0.5);
      }
    }
  }
  .info-homepage{
    margin-top: -50px;
  }
}

//MEDIA QUERYS 478 ----------

@media (max-width: 478px){
  .home-page{
    height: 1100px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    .icon-3d-uno{
      display: none;
    }
    .home-page-image{
      width: 100%;
      height: 500px;
      margin: 0 auto;
      transform: scale(0.6);
      margin-top: -90px;
      margin-bottom: -50px;
    }
    .home-page-info{
      height: 700px;
      .home-page-title h1{
        font-size: 50px;
      }
      .home-page-subtitle p{
        text-align: center;
      }
    }
  }
  .barra-insignias{
    height: 120px;
    .insignias{
      justify-content: space-between;
      img{
        height: 40px;
      }
    }
  }
  .cards-page{
    margin-bottom: 0;
    .cards-home{
      .circulo-rojo{
        left: 50px;
      }
    }
  }
  .cards-page{
    .cards-header{
      .cards-title{
        width: 90%;
        h4{
          font-size: 25px;
        }
      }
      .cards-subtitle p{
        width: 100%;
        padding: 0 20px;
        text-align: center;
      }
    }
  }
  .cards-page{
    height: 1600px;
    .cards-home{
      margin: 0;
      padding: 0;
      .espiral-amarillo{
        top: -50px;
        right: 300px;
      }
    }
  }
}

//MEDIA QUERYS 400 ----------

@media (max-width: 400px){
  .home-page{
    padding: 0 20px;
    height: 1000px;
    .home-page-info{
      height: 600px;
      margin-bottom: 50px;
      .registrarse{
        font-size: 20px;
      }
    }
    .home-page-image{
      margin-left: 0;
      .cuadricula{
        top: 50px;
        left: 0;
      }
    }
    .icon-3d-uno{
      transform: scale(0.4);
      top: 450px;
      left: 150px;
    }
    .icon-3d-dos{
      transform: scale(0.4);
      left: -40px;
      top: 250px;
    }
    .home-page-info{
      .home-page-title {
        width: 100%;
        h1{
          font-size: 40px;
        }
      }
      .home-page-subtitle p{
        font-size: 20px;
      }
    }
  }
  .cards-page{
    .cards-home{
      .circulo-rojo{
        left: 20px;
      }
      .espiral-amarillo{
        top: -50px;
        right: 250px;
      }
    }
  }
}

//MEDIA QUERYS 361 ----------
@media (max-width: 361px){
  .cards-page{
    .cards-home{
      .personaje{
        transform: scale(0.3);
      }
    }
  }
  .info-homepage{
    .kid-image{
      img{
        width: 300px;
      }
    }
  }
}

//MEDIA QUERYS 350 ----------

@media (max-width: 350px){
  .home-page{
    padding: 0 20px;
    height: 1000px;
    .home-page-info{
      height: 600px;
      margin-bottom: 50px;
      .registrarse{
        font-size: 20px;
      }
    }
    .icon-3d-uno{
      transform: scale(0.4);
      top: 450px;
      left: 150px;
    }
    .icon-3d-dos{
      transform: scale(0.4);
      left: 0;
      top: 300px;
    }
    .home-page-image{
      margin-left: -20px;
      transform: scale(0.6);
    }
    .home-page-info{
      .home-page-title {
        width: 100%;
        h1{
          font-size: 40px;
        }
      }
      .home-page-subtitle p{
        font-size: 20px;
      }
    }
  }
  .cards-page{
    margin-bottom: 50px;
    .cards-home{
      .circulo-rojo{
        left: 0;
      }
      .espiral-amarillo{
        top: -50px;
        right: 250px;
      }
    }
  }
  .info-homepage{
    margin-top: 50px;
    height: auto;
    .kid-image {
      transform: scale(0.7);
    }
  }
}
