.show-tasks-container{
  width: 80vw;
  margin: auto;
  margin-top: 50px;
  height: auto;
  .show-task{
    width: 80%;
    margin: auto;
    height: auto;
    background-color: #fefbf1;
    border: 1px solid #000;
    border-radius: 13px;
    padding: 20px;
    .show-task-title{
      h2{
        padding: 0;
      }
    }
    .show-task-text{
      padding-left: 20px;
      height: auto;
    }
    .show-tasks-buttons{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 30px 20px;
      padding-bottom: 10px;
    }
  }
}
