@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.show-tasks-container{
  width: 80vw;
  margin: auto;
  margin-top: 25px;
  height: auto;
  margin-bottom: 50px;
  .show-task{
    width: 80%;
    margin: auto;
    height: auto;
    padding-bottom: 50px;
    background: url(https://res.cloudinary.com/luda9/image/upload/v1662566431/development/5_tujumy.png);
    background-size: 100% 100%;
    border-radius: 13px;
    margin-bottom: 40px;
    .video-div{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80%;
      margin: 0 auto;
      margin-bottom: 50px;
      video{
        height: 400px;
      }
    }
  }
    .show-tasks-buttons{
      width: 100%;
      display: flex;
      justify-content: space-around;
      height: 50px;
      a{
        background-color: $morado;
      }
    }
}

.show-task-title {
  color: white;
  margin: 20px;
  padding-top: 20px;
  font-size: 2em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.logo-leyendo {
  width: 40px;
}


//MEDIA QUERYS 550 ----------

@media (max-width: 550px){
  .show-tasks-container{
    width: 90vw;
    .show-task{
      .video-div{
        video{
          height: 250px;
        }
      }
    }
  }
}

//MEDIA QUERYS 430 ----------

@media (max-width: 430px){
  .show-tasks-container{
    width: 100vw;
    .show-task{
      .video-div{
        video{
          height: 250px;
        }
      }
    }
  }
}

//MEDIA QUERYS 395 ----------

@media (max-width: 395px){
  .show-tasks-container{
    width: 100vw;
    .show-task{
      .video-div{
        video{
          height: 200px;
        }
      }
    }
  }
}

//MEDIA QUERYS 365 ----------

@media (max-width: 365px){
  .show-tasks-container{
    .show-task{
      .show-tasks-buttons{
        padding: 30px 0;
      }
    }
  }
}
