<div class="task-title-index">
  <h2>Tareas</h2>
</div>
<div class="task-index">
  <% @tasks.each do |task| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title"><%= task.title %></h3>
          <p class="card-text"><%= task.details %></p>
          <%= link_to "Comenzar", task_path(task), class: "task-button"%>
        </div>
      </div>
  <% end %>
</div>
