<% @tasks.each do |task| %>
  <div class="container">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">Tarea: <%= task.title %></h3>
        <p class="card-text">Descripción: <%= task.details %></p>
        <%= link_to "Comenzar", task_path(task), class: "btn btn-primary"%>
      </div>
    </div>
  </div>
<% end %>
