<div class="show-tasks-container">
  <div class="show-task">
    <div class="show-task-title">
      <h2><%= @task.title %></h2>
    </div>
    <div class="show-task-text">
      <%= @task.details %>
    </div>
    <div class="show-tasks-buttons">
      <div class="show-tasks-goback-button">
        <%= link_to "Volver a las tareas", tasks_path, class: "task-button" %>
      </div>
      <div class="show-tasks-flashcards-button">
        <%= link_to "Comenzar flashcards", task_flashcards_path(@task), class: "task-button" %>
      </div>
    </div>
  </div>
</div>
