<div class="show-tasks-container">
  <div class="show-task">
    <div class="show-task-title">
      <h2><%= @task.title %></h2>
    </div>
    <div class="show-task-text">
      <%= @task.details %>
    </div>
    <div>
      <video width="500" controls>
        <source src="https://res.cloudinary.com/luda9/video/upload/v1662590669/development/RapidoAprendo_tusbje.mp4" type="video/mp4">
      </video>
    </div>
    <div class="show-tasks-buttons">
      <div class="show-tasks-goback-button">
        <%= link_to "Dashboard", dashboard_path, class: "task-button" %>
      </div>
      <div class="show-tasks-flashcards-button">
        <%= link_to "Comenzar flashcards", task_flashcards_path(@task), class: "task-button" %>
      </div>
    </div>
  </div>
</div>
