<div class="home-page">
  <img src="https://res.cloudinary.com/luda9/image/upload/v1662491770/development/vector3_q9gpmn.png" class="icon-3d-uno" alt="">
  <img src="https://res.cloudinary.com/luda9/image/upload/v1662491770/development/vector4_nxpebi.png" class="icon-3d-dos " alt="">
  <div class="home-page-info">
    <div class="home-page-title">
      <h1>Plataforma educativa para <span>padres</span> y <span>logopedas</span> con fin de combatir el <span>rotacismo</span></h1>
    </div>
    <div class="home-page-subtitle">
      <p>Totalmente gratuita dedicada a combatir el incorrecto pronunciamiento de la letra r, ayudándolos con lecciones y terapeutas especializados</p>
    </div>
    <div class="home-page-button">
      <%= link_to "Registrarse", new_user_session_path, class: "boton registrarse" %>
    </div>
  </div>
  <div class="home-page-image">
    <img src="https://res.cloudinary.com/luda9/image/upload/v1662491770/development/vector5_fho84p.png" class="cuadricula" alt="">
    <img src="https://images.unsplash.com/photo-1617117206620-b01f2919ff86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" class="kids-drawing-ra" alt="Kids drawing rapido aprendo">
  </div>
</div>
<div class="barra-insignias">
  <div class="insignias">
    <img src="https://res.cloudinary.com/luda9/image/upload/v1661895590/development/logoipsum-229_cjn3p9.svg" width="400px" height="300px">
    <img src="https://res.cloudinary.com/luda9/image/upload/v1661895591/development/logoipsum-231_l4mnvk.svg" width="400px" height="300px">
    <img src="https://res.cloudinary.com/luda9/image/upload/v1661895591/development/logoipsum-232_odvx4m.svg" width="400px" height="300px">
    <img src="https://res.cloudinary.com/luda9/image/upload/v1661895590/development/logoipsum-214_uonyic.svg" width="400px" height="300px">
  </div>
</div>
<div class="cards-page">
  <div class="cards-header">
    <div class="cards-title">
      <h4>Rápido aprendo es la unica plataforma en México que enfrenta a el rotacismo</h4>
    </div>
    <div class="cards-subtitle">
      <p>De manera gratuita y desde la comodidad de tu hogar</p>
    </div>
  </div>

  <div class="cards-home">
    <img src="https://res.cloudinary.com/luda9/image/upload/v1662491770/development/vector2_ndeee0.png" class="circulo-rojo" alt="">
    <img src="https://res.cloudinary.com/luda9/image/upload/v1662491770/development/vector9_dyxzlx.png" class="espiral-amarillo" alt="">
    <img src="https://res.cloudinary.com/luda9/image/upload/v1662491770/development/vector1_ck4690.png" class="personaje" alt="">

    <div class="card-home">
      <div class="card-image">
          <img src="https://res.cloudinary.com/luda9/image/upload/v1662055105/development/image-icon_lgryp1.png" width="150px">
      </div>
      <div class="card-text">
        <p>Aprende y practica mediante fotos y videos para un <span>aprendizaje amigable</span></p>
      </div>
    </div>

    <div class="card-home">
      <div class="card-image">
        <img src="https://res.cloudinary.com/luda9/image/upload/v1661899778/development/monitor-icon_stnqsd.png" width="150px">
      </div>
      <div class="card-text">
        <p>Realiza tareas y actividades desde la <span>comodidad de tu casa</span></p>
      </div>
    </div>

    <div class="card-home">
      <div class="card-image">
        <img src="https://res.cloudinary.com/luda9/image/upload/v1661899778/development/flecha-icon_ao3hw7.png" width="150px">
      </div>
      <div class="card-text">
        <p>Visualiza tus avances junto con tu <span>terapeuta</span> asignado</p>
      </div>
    </div>
  </div>
</div>
<div class="info-homepage">
  <img src="https://res.cloudinary.com/luda9/image/upload/v1662491769/development/vector6_wwbf2c.png" alt="" class="estrella1">
  <img src="https://res.cloudinary.com/luda9/image/upload/v1662491770/development/vector8_re2otp.png" alt="" class="estrella2">
  <img src="https://res.cloudinary.com/luda9/image/upload/v1662491770/development/vector7_s6xiy7.png" alt="" class="estrella3">
  <div class="ra-info">
    <div class="ra-info-container">
      <p class="ra-info-title">FACILITADOR DEL APRENDIZAJE</p>
      <p>¡<span>Rápido Aprendo</span>, Plataforma Educativa que mejora el aprendizaje de los niños de forma innovadora!</p>
      <p>Utilizamos el <span>micro-learning</span> como estrategía de aprendizaje para desarrollar nuestros contenidos.</p>
      <p>Cada video simplifica temas complejos a traves de <span>pequeñas píldoras</span> de información en menos de 5 minutos.</p>
      <p>Los alumnos asimilan el conocimiento y desarrollan <span>autonomía y pensamiento crítico</span>.</p>
    </div>
  </div>
  <div class="kid-image">
    <img src="https://res.cloudinary.com/luda9/image/upload/v1662480985/development/ra-kid_aewlep.png" alt="">
  </div>
</div>

<footer>
  <div class="footer-titles">
    <div class="rapido-aprendo-title">
      <h3>Rápido Aprendo</h3>
    </div>
    <div class="creadores-title">
      <h3>Creadores</h3>
    </div>
  </div>
  <div class="footer-text">
    <div class="footer-info">
      <p>Rápido aprendo, es una plataforma con fines de demostrar lo aprendido durante el bootcamp de Le Wagon batch 969 en Septiembre del 2022</p>
    </div>
    <div class="footer-rights">
      <p>&copy 2022 Rápido Aprendo – Todos los derechos reservados</p>
    </div>
      <div class="creador">
        <h3>Daniel Santillan</h3>
        <p>Jr Full Stack Developer</p>
        <div class="favicons">
          <a href="https://www.linkedin.com/in/luis-daniel-maga%C3%B1a-santillan-49539a236/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/luda9" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a href="mailto:ldms99@hotmail.com?subject=Hola" target="_blank"><i class="fa-regular fa-envelope"></i></a>
          <a href="https://www.luda.com" target="_blank"><i class="fa-solid fa-folder"></i></a>
        </div>
      </div>
      <div class="creador">
        <h3>Hiram Ramirez</h3>
        <p>Jr Full Stack Developer</p>
        <div class="favicons">
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-github"></i>
          <i class="fa-regular fa-envelope"></i>
          <i class="fa-solid fa-folder"></i>
        </div>
      </div>
  </div>
</footer>
