<div class="home-page">
  <div class="home-page-info">
    <div class="home-page-title">
      <h1>Plataforma educativa para <span>padres</span> y <span>logopedas</span> con fin de combatir el <span>rotacismo</span></h1>
    </div>
    <div class="home-page-subtitle">
      <p>Totalmente gratuita dedicada a combatir el incorrecto pronunciamiento de la letra r, ayudándolos con lecciones y terapeutas especializados</p>
    </div>
    <div class="home-page-button">
      <%= link_to "Registrarse", new_user_session_path, class: "boton registrarse" %>
    </div>
  </div>
  <div class="home-page-image">
    <img src="https://images.unsplash.com/photo-1617117206620-b01f2919ff86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="Kids drawing rapido aprendo">
  </div>
</div>
<div class="barra-insignias">
  <div class="insignias">
    <img src="https://res.cloudinary.com/luda9/image/upload/v1661895590/development/logoipsum-229_cjn3p9.svg" width="400px" height="300px">
    <img src="https://res.cloudinary.com/luda9/image/upload/v1661895591/development/logoipsum-231_l4mnvk.svg" width="400px" height="300px">
    <img src="https://res.cloudinary.com/luda9/image/upload/v1661895591/development/logoipsum-232_odvx4m.svg" width="400px" height="300px">
    <img src="https://res.cloudinary.com/luda9/image/upload/v1661895590/development/logoipsum-214_uonyic.svg" width="400px" height="300px">
  </div>
</div>
<div class="cards-page">
  <div class="cards-header">
    <div class="cards-title">
      <h4>Rápido aprendo es la unica plataforma en México que enfrenta a el rotacismo</h4>
    </div>
    <div class="cards-subtitle">
      <p>De manera gratuita y desde la comodidad de tu hogar</p>
    </div>
  </div>

  <div class="cards-home">
    <div class="card-home">
      <div class="card-image">
          <img src="https://res.cloudinary.com/luda9/image/upload/v1661899778/development/image-icon_dcoqfd.png" width="150px">
      </div>
      <div class="card-text">
        <p>Aprende y practica mediante fotos y videos para un <span>aprendizaje amigable</span></p>
      </div>
    </div>

    <div class="card-home">
      <div class="card-image">
        <img src="https://res.cloudinary.com/luda9/image/upload/v1661899778/development/monitor-icon_stnqsd.png" width="150px">
      </div>
      <div class="card-text">
        <p>Realiza tareas y actividades desde la <span>comodidad de tu casa</span></p>
      </div>
    </div>

    <div class="card-home">
      <div class="card-image">
        <img src="https://res.cloudinary.com/luda9/image/upload/v1661899778/development/flecha-icon_ao3hw7.png" width="150px">
      </div>
      <div class="card-text">
        <p>Visualiza tus avances junto con tu <span>terapeuta</span> asignado</p>
      </div>
    </div>
  </div>
</div>
