:root {
  --morado: #5D58C0;
  --salmon: #f37e80;
  --dark: #212121;
  --light: #F3F3F3;
}

.card-h {
  margin: 40px auto 0;
  width: 400px;
  height: 450px;
  perspective: 1000px;
  user-select: none;
}

.flashcard-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}


.card-face {
  position: absolute;
  width: 100%;
  height: 90%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card-face-front {
  background-image: linear-gradient(to bottom right, var(--morado), var(--salmon));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-face-back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card-content {
  width: 100%;
  height: 100%;
}

.card-header {
  position: relative;
  padding: 30px 30px 40px;
}

.card-header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, var(--morado) 10%, var(--salmon) 115%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.pp {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: #FFF;
  border: 5px solid #FFF;
  object-fit: cover;
}

.card-title-fc, .card-text-fc {
  text-align: center;
  width: 100%;
  padding: 10px;
}

.is-flipped {
  transform: rotateY(180deg);
}

.flecha {
  width: 500px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  left: 0;
  z-index: 1;
  background-color: var(--morado);
}
