@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root {
  --morado: #5D58C0;
  --salmon: #f37e80;
  --dark: #212121;
  --light: #F3F3F3;
}

.card-h {
  margin: 40px auto 0;
  width: 400px;
  height: 450px;
  perspective: 1000px;
  user-select: none;
}

.flashcard-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}


.card-face {
  position: absolute;
  width: 100%;
  height: 90%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card-face-front {
  // background-image: linear-gradient(to bottom right, var(--morado), var(--salmon));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-face-back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card-content {
  width: 100%;
  height: 100%;
}

.card-header {
  position: relative;
  padding: 30px 30px 40px;
}

.card-header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, var(--morado) 10%, var(--salmon) 115%);
  // background: url(https://res.cloudinary.com/luda9/image/upload/v1662566431/development/1_pgztoo.png);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.pp {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: #FFF;
  border: 5px solid #FFF;
  object-fit: cover;
}

.card-title-fc, .card-text-fc {
  text-align: center;
  width: 100%;
  padding: 15px;
}

.card-title-fc {
  font-size: 3.5em;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 2px 2px 2px black;
}

.card-text-fc{
  font-size: 1.2em;
}

.is-flipped {
  transform: rotateY(180deg);
}

.flecha {
  width: 500px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  left: 0;
  z-index: 1;
  background-color: var(--morado);
}

#divProgress {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
  width: 100%;
  text-align: center;
}

progress {
  margin: 0 auto;
  width: 80%;
  height: 20px;
  background-color: var(--salmon);
  accent-color: var(--morado);
  border: none;
  border-radius: 10px;
}

#tarjetasVistas {
  // color: var(--morado)
  // background: -webkit-linear-gradient(#5D58C0, #f37e80);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  color: #5D58C0;
  font-size: 1.6em;
  font-weight: bold;
}

#retroalimentacion {
  text-align: center;
  position: relative;
  span {
    color: #5D58C0;
    font-size: 4em;
  }
}

#barraMorada {
  background-color: #5D58C0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  div {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    span, p {
      color: white;
      font-size: 1.2em;
      text-align: center;
      cursor: pointer;
    }
  }
}

#instruccion {
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
  margin-top: 30px;
}

.fc-fondo1 {
  background: url(https://res.cloudinary.com/luda9/image/upload/v1662566431/development/1_pgztoo.png);
}
.fc-fondo2 {
  background: url(https://res.cloudinary.com/luda9/image/upload/v1662566431/development/2_n1kclo.png);
}
.fc-fondo3 {
  background: url(https://res.cloudinary.com/luda9/image/upload/v1662566431/development/3_pqi8in.png);
}
.fc-fondo4 {
  background: url(https://res.cloudinary.com/luda9/image/upload/v1662566431/development/4_emxm9e.png);
}
.fc-fondo5 {
  background: url(https://res.cloudinary.com/luda9/image/upload/v1662566431/development/5_tujumy.png);
}
