.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fondo-navbar{
  background-color: #EEEDF7;
}

.botones-navbar{
  margin-left: -250px;
  height: 100%;
  list-style: none;
  display: flex;
  li{
    margin-top: 12px;
    padding-left: 80px;
    a{
      color: #000;
      text-decoration: none;
      font-weight: normal;
      &:hover{
        color: $morado;
      }
    }
  }
}
.foto-avatar{
  margin-right: 40px;
}

.ra-logo{
  height: 60px;
  margin-left: 40px;
}
